---
import Layout from '@/layouts/Layout.astro';
import AnimatedBgGradient from '@/components/AnimatedBgGradient.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<Layout title="Contact us">
  <main class="min-h-screen">
    <AnimatedBgGradient />
    <!-- Contact Form Section -->
    <ContactForm />
  </main>
</Layout>