---
import Layout from '../layouts/Layout.astro';
import AnimatedBgGradient from '../components/AnimatedBgGradient.astro';
---

<Layout title="Marketing Site">
  <main class="min-h-screen">
    <div class="max-w-md mx-auto rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-8">
			<AnimatedBgGradient />

    </div>
  </main>
</Layout>

<style>
  @import '../styles/global.css';
</style>