---
import Layout from '@/layouts/Layout.astro';
import HeroSection from '@/components/sections/HeroSection.astro';
import AnimatedBgGradient from '@/components/AnimatedBgGradient.astro';
import FeatureSection from '@/components/sections/FeatureSection.astro';

import FAQSection from '@/components/sections/FAQSection.astro';
import FooterCTASection from '@/components/sections/FooterCTASection.astro';
---
<!-- Marketing Home Page -->
<Layout title="QKO - Your Game Library, Organized">
  <main class="min-h-screen">
    <AnimatedBgGradient />
    <HeroSection />

    <!-- Add Features Section here -->
    <FeatureSection />

    <div class="mx-auto rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-8">
       <!-- Add Early Access Info Section here -->
			<FAQSection />
    </div>

    <FooterCTASection />
  </main>
</Layout>

<style>
  @import '@/styles/global.css';
</style>