---
export interface Props {
  style?: string;
  className?: string;
  id?: string;
}
const { style = '', className = '', id = '' } = Astro.props;
---
<div
  id={id}
  class={`max-w-5xl z-40 group -mt-12 mx-auto isolate group h-[18rem] md:h-[45rem] w-full border-4 border-neutral-900 p-2 md:p-1 bg-charcoal rounded-[30px] shadow-2xl relative ${className}`}
  style={`box-shadow: 0 0 #0000004d, 0 9px 20px #0000004a, 0 37px 37px #00000042, 0 84px 50px #00000026, 0 149px 60px #0000000a, 0 233px 65px #00000003; transform-style: preserve-3d; transition: transform 0.1s ease-out; ${style}`}
>
  <div class="absolute h-40 w-full bottom-0 md:-bottom-10 inset-x-0 scale-[1.2] z-20 pointer-events-none bg-transparent mask-gradient"></div>
  <div class="h-full w-full overflow-hidden rounded-2xl bg-transparent md:rounded-2xl md:p-2">
    <slot />
  </div>
</div>

<style>
  .bg-charcoal {
    background-color: #1a1a1a;
  }

  .mask-gradient {
    -webkit-mask-image: linear-gradient(to top, white 30%, transparent);
    mask-image: linear-gradient(to top, white 30%, transparent);
    background-color: #030712; /* Add background so mask has something to fade */
  }
</style>