---
import { cn } from '@/utils/cn';

export interface Props {
  className?: string;
  showGradient?: boolean;
}

const { className = "", showGradient = true } = Astro.props;
---

<div class={cn(
  "h-[20rem] rounded-xl z-40",
  className,
  showGradient && "bg-[rgba(40,40,40,0.30)] [mask-image:radial-gradient(50%_50%_at_50%_50%,white_0%,transparent_100%)]"
)}>
  <slot />
</div>